.layout-bio{
  text-align: center;
  .bio-avatar{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #DDD;
    border-radius: 30px;
    overflow: hidden;
  }
  .bio-social{
    margin: 10px 0;
    // 去除图片因 inline-block 产生的底部间隔
    font-size: 0;
    -webkit-text-size-adjust:none;
    >a{
      position: relative;
      padding: 0 6px;
      >img{
        width: 16px;
        opacity: 0.68;
        transition: 0.4s all;
        &:hover{
          opacity: 1;
        }
      }
      .social-qrcode{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 5px;
        left: 5px;
        padding-bottom: 5px;
        background: #FFF;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        font-size: 12px;
        transition: 0.2s all;
        z-index: 1000;
        >img{
          width: 130px;
          max-width: 130px;
        }
        >div{
          margin-top: -10px;
          color: #666;
        }
      }
      .social-mail{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -30px;
        left: -22px;
        width 72px;
        color: #FFF;
        background: rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
        font-size: 12px;
        transition: 0.2s all;
        z-index: 1000;
        &.active{
          visibility: visible;
          opacity: 1;
          transform: translateY(-10px);
        }
      }
      &:hover{
        .social-qrcode{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .bio-intro{
    max-width: 300px;
    margin: 0 auto;
    color: #666;
  }
}