.not-found{
  margin-top: 72px;
  margin-bottom: 50px;
  text-align: center;
  .not-found-quote{
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 26px;
    font-style: italic;
    color: #999;
    &::before{
      content: '“';
      margin-right: 5px;
      color: #E3E3E3;
      font-size: 50px;
    }
  }
}
