.layout-about{
  margin-top: 80px;
  margin-bottom: 50px;
  .about-section{
    max-width: 500px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #EEE;
    &:last-child{
      border-bottom: none;
    }
    h3.section-label{
      margin: 0;
      margin-bottom: 15px;
    }
    .section-content{
    }
    ul{
      margin-bottom: 40px;
      padding-left: 25px;
      list-style: circle outside;
    }
  }
}
