.footer{
  color: #999;
  font-size: 13px;
  .footer-wrapper{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 0;
    border-top: 1px solid #F3F3F3;
    a.footer-link{
      margin-left: 10px; 
    }
  }
}